[submodule "modules/firewall"]
	path = modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "modules/memcached"]
	path = modules/memcached
	url = git@github.com:saz/puppet-memcached.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:akumria/puppet-postgresql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
